<h1>{{title}}</h1>
<app-child [childData]="dataToChild" (childEvent)="handleChildEvent($event)"></app-child>


<button (click)="updateChild()">send data to child</button>
<h1>Data received from child: {{ dataFromChild }}</h1>

<input type="text" placeholder="Enter your text" [(ngModel)]="twoWaydata">
<h1>{{twoWaydata}}</h1>


<!-- get data from api and display -->
<input type="text" placeholder="Search..." [(ngModel)]="searchItem" (input)="filterUsers()" >

<ul>
    <li *ngFor="let user of filteredUsers">
        {{user.userId}} {{user.id}} {{user.title}}  {{user.completed}}
    </li>
</ul>

